
.title-container
{
    background-color: #1a232e;
    color: white;
    text-align: left;
    border-radius: 0 20px 0 0; 

}
.title-texts
{
    font-family: "Open Sans", sans-serif;
    padding-left: 20px;
}
.col{
    padding: 0;
}
.title-texts h2
{
    margin: 0px;
    font-size: 35px;
    font-weight: 600;
}
img
{
    height: 350px;
    border-radius: 20px 0 0 0;
}
.title-texts p
{
    margin: 0;
    font-size: 20px;
    font-weight: 100;
}
.personal-info
{
    background-color: #c3cbc4;
    height: 850px;
}
.personal-info p
{
    padding: 0px 25px 0 25px;
}
.experience-conntainer p{
    padding: 0px 20px 0px 24px;

}
.personal-info h3, .experience-conntainer h3{
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    padding: 20px 0px 0px 24px;
    font-size: 22px;
}
.experience-conntainer h4{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 0px 0px 24px;
}

.experience-conntainer
{
    height: 850px;
    border-right: 1px solid #1a232e;
    border-width: thin;
}
footer
{
    height: 30px;
    background-color: #1a232e;
    border-radius: 0px 0 20px 20px;
}
.technical-descriptions{

    font-size: 13px;
    font-style: italic;
}
.experience-conntainer .educations
{
    margin-top: 50px;
}